<!DOCTYPE html>
<html>
  <head>
    <title>Token management</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to your token management place</h1>
    <div class="container">
      <div class="container__item">
        <form class="form">
          <input type="address" class="form__field" placeholder="Sender Address" />
          <input type="address" class="form__field" placeholder="Reveiver Address" />
          <button type="button" class="btn btn--primary btn--inside uppercase">Send</button>
      </form>
      </div>

      <div class="container__item">
        <form class="form">
          <input type="address" class="form__field" placeholder="Address" />
          <button type="button" class="btn btn--primary btn--inside uppercase">Get Balance</button>
        </form>
      </div>

      <div class="container__item">
        <form class="form">
          <input type="address" class="form__field" placeholder="Address" />
          <button type="button" class="btn btn--primary btn--inside uppercase">Mint Token</button>
        </form>
      </div>

      <div class="container__item">
        <form class="form">
          <input type="address" class="form__field" placeholder="Address" />
          <button type="button" class="btn btn--primary btn--inside uppercase">Burn Token</button>
        </form>
      </div>

      <div class="container__item">
        <form class="form">
          <button type="button" class="btn btn--primary btn--inside uppercase">Get Total Supply</button>
        </form>
      </div>

      <div id="TOP3">
        <h3 id="TOP_Holders">Top 3 Holders</h3>
            <div id="Top3">
                    <button className=""> Top 1 :<p className="">hello</p><button className=""> Top 2 :<p className="">hello</p><button className=""> Top 3 :<p className="">hello</p></button></button> </button><br/>
            </div>
      </div>

      <div class="container__item">
        <form class="form">
          <input type="address" class="form__field" placeholder="Address" />
          <button type="button" class="btn btn--primary btn--inside uppercase">Get Balance</button>
        </form>
      </div>

    </div>
  </body>
</html>

<script type="module" src="../javascripts/script.js"></script>     

